/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right bottom,
    #6d26cc,
    #6d26cc,
    #6d26cc,
    #006ef8,
    #009476,
    #2b991d
  );

  color: #333;
}

/* Header Section */
header {
  background-image: linear-gradient(
    to left bottom,
    #2b991d,
    #009476,
    #006ef8,
    #6d26cc,
    #6d26cc
  );
  color: white;
  padding: 20px;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

img {
  margin-right: 0px;
  padding: 0px;
  max-width: 30%;
}

#main-heading {
  margin: 0;
  font-size: 2.5em;
  color: red;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000,
    2px 2px 0 #000;
}

#sub-heading {
  margin-top: 10px;
  font-size: 1.2em;
  text-shadow: 0 10px 5px black;
}

/* Navigation Section */
nav {
  background-color: #333;
  padding: 10px;
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  margin: 0 35px;
}

.nav-item:hover {
  text-decoration: underline;
}

/* Main Content Section */
main {
  padding: 20px;
}

h2 {
  color: #0073e6;
  border-bottom: 2px solid #0073e6;
  padding-bottom: 10px;
}

#features-list {
  list-style-type: square;
  padding-left: 20px;
}

.feature-item {
  margin: 10px 0;
}

/* Footer Section */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#footer-text {
  margin: 0;
}
